.div-music{
  display: flex;
  justify-content: left;

  
  height: 50px;
  width: 50px;
  z-index: 0;

  margin-left: 20%;
  background: #00000000;

  div{
    background: #fcfcfc5b;
    border: 1px solid white;
    border-radius: 0px 0px 20px 20px;

    margin-right: 100px;
    width: 43px;
    border-top: none;
  }

}
@media (max-width: 700px){
  .div-music{
    display: none;
  }
}