
.Project {
  background: url('../../assets/background-Stars.jpg') no-repeat center center;
  background-size: cover;
  overflow-y: hidden;
  min-height: 200vh;
  width: 100%;
  overflow-x: hidden;
}

.headerProjects {
  position: static;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: #13131383;
  width: 100%;
  border-bottom: 1px solid white;
  z-index: 10;
  animation: headerStyle 0.5s;

  img {
    margin-right: 20px;
    height: 50px;
    z-index: 100;
  }
  a{
    z-index: 100;
  }

}

.backGround-react {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
  background: #13131300;
  z-index: none;

  img {
    height: 98%;
    mix-blend-mode: overlay;

  }
}

.Repositorios {
  overflow-x: scroll;
  display: flex;
  margin-top: 50vh;
  width: 90%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  position: relative;
  background: linear-gradient(150deg, #000000, #202020af, #000000);
  z-index: 10;
  gap: 15px;
  border-radius: 15px;
  border-bottom: none;
  padding: 10px;
  animation: Projetos 1s;
}

.Button {
  font-size: 50px;
}

.Button:hover {
  animation: voltarButton 0.4s linear;

}

.Destaque {
  padding: 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 20vh;
  
  a{
    color: #d8d8d8;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(150deg,#212121ed, #414141c6, #212121ed);
    border-radius: 10px;
    height: 300px;
    width: 230px;
    margin: 20px;
    box-shadow: 2px 2px 5px #797979;
    

  }
  section:hover {
    animation: Tremor 0.2s linear;
  }

  header {
    border-bottom: 1px solid #ffffff;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #e1e1e1;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
  }

  img{
    margin: 7px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000000;
  }

  footer{
    font-weight: 700;
    color: #d8d8d8;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    padding: 10px
    
  }
  
  footer:hover{
    animation: linkButton 0.5s linear;
  }

}

@keyframes Projetos {
  0% {
    margin-left: 0px;
    width: 0;
  }

  25% {
    margin-left: 1.5%;
  }

  50% {
    margin-left: 2.5%;
  }

  75% {
    margin-left: 4%;
  }

  100% {
    margin-left: 5%;
    width: 90%;

  }

}

@keyframes headerStyle {
  from {
    margin-top: -70px;
  }

  to {
    margin-top: 0px;
  }

}

@keyframes voltarButton {

  0% {
    font-size: 50px;
  }

  25% {
    font-size: 60px;
    text-shadow: 3px 5px #797979;
    color: #ffffff;
  }

  50% {
    font-size: 54px;
    text-shadow: 3px 1.5px #797979;
    color: #d8d8d8;
  }

  75% {
    font-size: 57px;
    text-shadow: 3px 3.8px #797979;
    color: #ffffff;
  }

  100% {
    font-size: 50px;
    color: #d8d8d8;
  }
}

@keyframes linkButton {

  0% {
    font-size: 18px;
  }

  25% {
    font-size: 25px;
    text-shadow: 3px 5px #797979;
    color: #ffffff;
  }

  50% {
    font-size: 20px;
    text-shadow: 3px 1.5px #797979;
    color: #d8d8d8;
  }

  75% {
    font-size: 23px;
    text-shadow: 3px 3.8px #797979;
    color: #ffffff;
  }

  100% {
    font-size: 18px;
    color: #d8d8d8;
  }
}

@keyframes Tremor {

  0% {
    margin-top: 5px
  }

  25% {
    margin-top: -5px
  }

  50% {
    margin-top: 10px
  }

  75% {
    margin-top: -10px
  }

  100% {
    margin-top: 0px
  }
}

@media (max-width: 550px) {
  .Repositorios {
    width: 100%;
    height: 80%;

  }

  .backGround-react {
    display: none;
  }
  .Destaque {

  section:hover {
    animation: none;
  }

  }
  


}